# Kindly read the followings before using this code

This code converts all the dat file of ALL individual houses to a csv so that it maybe used for further analysis. 
Here all files of house 1 to 6 of low frequency REDD data is converted to individual csv files. 

In order for the code to work, all the dat files of the all houses should be as it was immediately found after unzipping the low_freq file of the Redd Dataset

#### This code is only applicable for the low frequency Redd Dataset.

In [126]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

In [127]:
def read_label():
    label = {}
    for i in range(1, 7):
        hi = 'low_freq/house_{}/labels.dat'.format(i)
        label[i] = {}
        with open(hi) as f:
            for line in f:
                splitted_line = line.split(' ')
                label[i][int(splitted_line[0])] = splitted_line[1].strip() + '_' + splitted_line[0]
    return label
labels = read_label()
for i in range(1,7):
    print('House {}: '.format(i), labels[i], '\n')

House 1:  {1: 'mains_1', 2: 'mains_2', 3: 'oven_3', 4: 'oven_4', 5: 'refrigerator_5', 6: 'dishwaser_6', 7: 'kitchen_outlets_7', 8: 'kitchen_outlets_8', 9: 'lighting_9', 10: 'washer_dryer_10', 11: 'microwave_11', 12: 'bathroom_gfi_12', 13: 'electric_heat_13', 14: 'stove_14', 15: 'kitchen_outlets_15', 16: 'kitchen_outlets_16', 17: 'lighting_17', 18: 'lighting_18', 19: 'washer_dryer_19', 20: 'washer_dryer_20'}

House 2:  {1: 'mains_1', 2: 'mains_2', 3: 'kitchen_outlets_3', 4: 'lighting_4', 5: 'stove_5', 6: 'microwave_6', 7: 'washer_dryer_7', 8: 'kitchen_outlets_8', 9: 'refrigerator_9', 10: 'dishwaser_10', 11: 'disposal_11'}

House 3:  {1: 'mains_1', 2: 'mains_2', 3: 'outlets_unknown_3', 4: 'outlets_unknown_4', 5: 'lighting_5', 6: 'electronics_6', 7: 'refrigerator_7', 8: 'disposal_8', 9: 'dishwaser_9', 10: 'furance_10', 11: 'lighting_11', 12: 'outlets_unknown_12', 13: 'washer_dryer_13', 14: 'washer_dryer_14', 15: 'lighting_15', 16: 'microwave_16', 17: 'lighting_17', 18: 'smoke_alarms_18', 19: 'lighting_19', 20: 'bathroom_gfi_20', 21: 'kitchen_outlets_21', 22: 'kitchen_outlets_22'}

House 4:  {1: 'mains_1', 2: 'mains_2', 3: 'lighting_3', 4: 'furance_4', 5: 'kitchen_outlets_5', 6: 'outlets_unknown_6', 7: 'washer_dryer_7', 8: 'stove_8', 9: 'air_conditioning_9', 10: 'air_conditioning_10', 11: 'miscellaeneous_11', 12: 'smoke_alarms_12', 13: 'lighting_13', 14: 'kitchen_outlets_14', 15: 'dishwaser_15', 16: 'bathroom_gfi_16', 17: 'bathroom_gfi_17', 18: 'lighting_18', 19: 'lighting_19', 20: 'air_conditioning_20'}

House 5:  {1: 'mains_1', 2: 'mains_2', 3: 'microwave_3', 4: 'lighting_4', 5: 'outlets_unknown_5', 6: 'furance_6', 7: 'outlets_unknown_7', 8: 'washer_dryer_8', 9: 'washer_dryer_9', 10: 'subpanel_10', 11: 'subpanel_11', 12: 'electric_heat_12', 13: 'electric_heat_13', 14: 'lighting_14', 15: 'outlets_unknown_15', 16: 'bathroom_gfi_16', 17: 'lighting_17', 18: 'refrigerator_18', 19: 'lighting_19', 20: 'dishwaser_20', 21: 'disposal_21', 22: 'electronics_22', 23: 'lighting_23', 24: 'kitchen_outlets_24', 25: 'kitchen_outlets_25', 26: 'outdoor_outlets_26'}

House 6:  {1: 'mains_1', 2: 'mains_2', 3: 'kitchen_outlets_3', 4: 'washer_dryer_4', 5: 'stove_5', 6: 'electronics_6', 7: 'bathroom_gfi_7', 8: 'refrigerator_8', 9: 'dishwaser_9', 10: 'outlets_unknown_10', 11: 'outlets_unknown_11', 12: 'electric_heat_12', 13: 'kitchen_outlets_13', 14: 'lighting_14', 15: 'air_conditioning_15', 16: 'air_conditioning_16', 17: 'air_conditioning_17'}

In [128]:
def read_merge_data(house):
    path = 'low_freq/house_{}/'.format(house)
    file = path + 'channel_1.dat'
    df = pd.read_table(file, sep = ' ', names = ['unix_time', labels[house][1]], 
                                       dtype = {'unix_time': 'int64', labels[house][1]:'float64'}) 
    
    num_apps = len(glob.glob(path + 'channel*'))
    for i in range(2, num_apps + 1):
        file = path + 'channel_{}.dat'.format(i)
        data = pd.read_table(file, sep = ' ', names = ['unix_time', labels[house][i]], 
                                       dtype = {'unix_time': 'int64', labels[house][i]:'float64'})
        df = pd.merge(df, data, how = 'inner', on = 'unix_time')
    df['timestamp'] = df['unix_time'].astype("datetime64[s]")
    df = df.set_index(df['timestamp'].values)
    df.drop(['unix_time','timestamp'], axis=1, inplace=True)
    return df
df = {}
for i in range(1,7):
    df[i] = read_merge_data(i)

In [129]:
for i in range(1,7):
    print('House {} data has shape: '.format(i), df[i].shape)
    display(df[i].head())

House 1 data has shape:  (406748, 20)

,mains_1,mains_2,oven_3,oven_4,refrigerator_5,dishwaser_6,kitchen_outlets_7,kitchen_outlets_8,lighting_9,washer_dryer_10,microwave_11,bathroom_gfi_12,electric_heat_13,stove_14,kitchen_outlets_15,kitchen_outlets_16,lighting_17,lighting_18,washer_dryer_19,washer_dryer_20
2011-04-18 13:22:13,222.20,118.83,0.0,0.0,6.0,0.0,34.0,21.0,81.0,0.0,5.0,1.0,0.0,0.0,2.0,0.0,65.0,46.0,0.0,0.0
2011-04-18 13:22:16,223.17,119.19,0.0,0.0,6.0,0.0,34.0,21.0,81.0,0.0,5.0,1.0,0.0,0.0,2.0,0.0,65.0,46.0,0.0,0.0
2011-04-18 13:22:20,223.60,118.92,0.0,0.0,6.0,0.0,34.0,22.0,81.0,0.0,5.0,1.0,0.0,0.0,2.0,0.0,65.0,46.0,0.0,0.0
2011-04-18 13:22:23,222.91,119.16,0.0,0.0,6.0,1.0,35.0,21.0,81.0,0.0,5.0,1.0,0.0,0.0,1.0,0.0,65.0,46.0,0.0,0.0
2011-04-18 13:22:26,222.94,118.83,0.0,0.0,6.0,0.0,34.0,21.0,81.0,0.0,5.0,1.0,0.0,0.0,2.0,0.0,65.0,46.0,0.0,0.0

House 2 data has shape:  (316840, 11)

,mains_1,mains_2,kitchen_outlets_3,lighting_4,stove_5,microwave_6,washer_dryer_7,kitchen_outlets_8,refrigerator_9,dishwaser_10,disposal_11
2011-04-18 05:31:40,15.71,22.61,1.0,8.0,1.0,4.0,4.0,4.0,6.0,1.0,0.0
2011-04-18 05:31:44,15.71,22.61,0.0,8.0,1.0,5.0,5.0,4.0,6.0,0.0,0.0
2011-04-18 05:31:47,15.72,22.61,1.0,8.0,1.0,4.0,4.0,4.0,6.0,1.0,0.0
2011-04-18 05:31:50,15.70,22.57,0.0,8.0,1.0,4.0,4.0,3.0,7.0,0.0,0.0
2011-04-18 05:32:05,15.64,22.61,1.0,8.0,1.0,4.0,4.0,3.0,7.0,1.0,0.0

House 3 data has shape:  (376150, 22)

,mains_1,mains_2,outlets_unknown_3,outlets_unknown_4,lighting_5,electronics_6,refrigerator_7,disposal_8,dishwaser_9,furance_10,...,washer_dryer_13,washer_dryer_14,lighting_15,microwave_16,lighting_17,smoke_alarms_18,lighting_19,bathroom_gfi_20,kitchen_outlets_21,kitchen_outlets_22
2011-04-16 05:11:30,181.34,577.30,2.0,0.0,1.0,126.0,119.0,0.0,0.0,5.0,...,0.0,0.0,1.0,2.0,195.0,2.0,23.0,0.0,0.0,0.0
2011-04-16 05:11:33,180.74,577.39,1.0,0.0,1.0,125.0,118.0,0.0,1.0,5.0,...,0.0,0.0,1.0,2.0,195.0,2.0,23.0,0.0,0.0,0.0
2011-04-16 05:11:36,182.00,577.88,1.0,0.0,1.0,124.0,119.0,0.0,0.0,5.0,...,0.0,0.0,1.0,2.0,195.0,2.0,24.0,0.0,0.0,0.0
2011-04-16 05:11:40,181.44,578.44,2.0,0.0,1.0,127.0,119.0,0.0,1.0,4.0,...,0.0,0.0,1.0,2.0,195.0,1.0,23.0,0.0,0.0,0.0
2011-04-16 05:11:43,179.95,575.92,1.0,0.0,1.0,127.0,117.0,0.0,0.0,5.0,...,0.0,0.0,1.0,2.0,195.0,2.0,23.0,0.0,0.0,0.0

House 4 data has shape:  (428076, 20)

,mains_1,mains_2,lighting_3,furance_4,kitchen_outlets_5,outlets_unknown_6,washer_dryer_7,stove_8,air_conditioning_9,air_conditioning_10,miscellaeneous_11,smoke_alarms_12,lighting_13,kitchen_outlets_14,dishwaser_15,bathroom_gfi_16,bathroom_gfi_17,lighting_18,lighting_19,air_conditioning_20
2011-04-17 01:16:32,462.31,86.58,243.0,4.0,1.0,0.0,0.0,5.0,0.0,0.0,2.0,0.0,51.0,139.0,0.0,0.0,0.0,15.0,0.0,0.0
2011-04-17 01:16:35,462.41,86.56,244.0,4.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,51.0,138.0,0.0,0.0,0.0,15.0,0.0,0.0
2011-04-17 01:16:38,462.89,86.62,243.0,5.0,1.0,0.0,1.0,5.0,0.0,0.0,2.0,0.0,51.0,140.0,0.0,0.0,0.0,15.0,0.0,0.0
2011-04-17 01:16:42,462.78,86.50,241.0,4.0,1.0,0.0,0.0,5.0,0.0,0.0,2.0,0.0,51.0,139.0,0.0,0.0,0.0,14.0,0.0,0.0
2011-04-17 01:16:45,463.41,86.61,241.0,4.0,1.0,0.0,0.0,5.0,0.0,0.0,2.0,1.0,51.0,137.0,0.0,0.0,0.0,15.0,0.0,0.0

House 5 data has shape:  (77451, 26)

,mains_1,mains_2,microwave_3,lighting_4,outlets_unknown_5,furance_6,outlets_unknown_7,washer_dryer_8,washer_dryer_9,subpanel_10,...,lighting_17,refrigerator_18,lighting_19,dishwaser_20,disposal_21,electronics_22,lighting_23,kitchen_outlets_24,kitchen_outlets_25,outdoor_outlets_26
2011-04-18 04:24:07,115.74,196.83,4.0,0.0,4.0,6.0,1.0,0.0,0.0,12.5,...,0.0,158.0,1.0,1.0,0.0,7.5,67.5,0.0,0.0,0.0
2011-04-18 04:24:11,115.78,197.87,4.0,0.0,4.0,6.0,1.0,0.0,0.0,12.5,...,0.0,160.0,1.0,1.0,0.0,7.5,67.5,0.0,0.0,0.0
2011-04-18 04:24:14,115.57,197.09,3.0,0.0,4.0,6.0,1.0,0.0,0.0,12.5,...,0.0,161.0,1.0,1.0,0.0,10.0,67.5,0.0,0.0,0.0
2011-04-18 04:24:18,115.37,196.08,4.0,0.0,4.0,6.0,0.0,0.0,0.0,12.5,...,0.0,160.0,1.0,2.0,0.0,7.5,67.5,0.0,0.0,0.0
2011-04-18 04:24:21,115.79,196.70,4.0,0.0,4.0,6.0,0.0,0.0,0.0,12.5,...,0.0,157.0,1.0,1.0,0.0,7.5,67.5,0.0,0.0,0.0

House 6 data has shape:  (192192, 17)

,mains_1,mains_2,kitchen_outlets_3,washer_dryer_4,stove_5,electronics_6,bathroom_gfi_7,refrigerator_8,dishwaser_9,outlets_unknown_10,outlets_unknown_11,electric_heat_12,kitchen_outlets_13,lighting_14,air_conditioning_15,air_conditioning_16,air_conditioning_17
2011-05-21 19:39:51,46.78,255.62,5.0,2.0,3.0,0.0,3.0,1.0,0.0,0.0,26.0,88.0,0.0,124.0,4.0,0.0,0.0
2011-05-21 19:39:57,46.92,257.48,5.0,3.0,2.0,0.0,3.0,0.0,0.0,0.0,27.0,94.0,1.0,116.0,4.0,0.0,0.0
2011-05-21 19:40:00,46.82,255.07,5.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,27.0,95.0,0.0,116.0,4.0,0.0,0.0
2011-05-21 19:40:04,46.78,255.78,5.0,2.0,3.0,0.0,3.0,0.0,0.0,0.0,27.0,94.0,1.0,116.0,4.0,0.0,0.0
2011-05-21 19:40:07,46.82,256.38,5.0,3.0,2.0,0.0,3.0,0.0,0.0,0.0,27.0,94.0,1.0,115.0,4.0,0.0,0.0

### House 1 (dat to csv)

In [130]:
ddf = df[1].reset_index() # same as df.reset_index(level=0)
ddf.rename(columns = {'index':'Time'}, inplace = True)
ddf.to_csv('House1.csv', index = False) # this is for house 1 of the low frequency REDD dataset
ddf

,Time,mains_1,mains_2,oven_3,oven_4,refrigerator_5,dishwaser_6,kitchen_outlets_7,kitchen_outlets_8,lighting_9,...,microwave_11,bathroom_gfi_12,electric_heat_13,stove_14,kitchen_outlets_15,kitchen_outlets_16,lighting_17,lighting_18,washer_dryer_19,washer_dryer_20
0,2011-04-18 13:22:13,222.20,118.83,0.0,0.0,6.0,0.0,34.0,21.0,81.0,...,5.0,1.0,0.0,0.0,2.0,0.0,65.0,46.0,0.0,0.0
1,2011-04-18 13:22:16,223.17,119.19,0.0,0.0,6.0,0.0,34.0,21.0,81.0,...,5.0,1.0,0.0,0.0,2.0,0.0,65.0,46.0,0.0,0.0
2,2011-04-18 13:22:20,223.60,118.92,0.0,0.0,6.0,0.0,34.0,22.0,81.0,...,5.0,1.0,0.0,0.0,2.0,0.0,65.0,46.0,0.0,0.0
3,2011-04-18 13:22:23,222.91,119.16,0.0,0.0,6.0,1.0,35.0,21.0,81.0,...,5.0,1.0,0.0,0.0,1.0,0.0,65.0,46.0,0.0,0.0
4,2011-04-18 13:22:26,222.94,118.83,0.0,0.0,6.0,0.0,34.0,21.0,81.0,...,5.0,1.0,0.0,0.0,2.0,0.0,65.0,46.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406743,2011-05-24 19:56:20,235.73,38.65,0.0,0.0,186.0,1.0,26.0,20.0,2.0,...,4.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
406744,2011-05-24 19:56:23,235.03,38.66,0.0,0.0,187.0,0.0,24.0,20.0,2.0,...,4.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
406745,2011-05-24 19:56:27,235.46,38.61,0.0,0.0,190.0,0.0,24.0,20.0,2.0,...,4.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
406746,2011-05-24 19:56:30,235.98,38.77,0.0,0.0,189.0,0.0,24.0,20.0,2.0,...,4.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
406747,2011-05-24 19:56:34,235.29,38.83,0.0,0.0,186.0,0.0,26.0,20.0,2.0,...,4.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [131]:
dates = {}
dates = [str(time)[:10] for time in ddf.Time.values]
dates = sorted(list(set(dates)))
print('House {0} data contain {1} days from {2} to {3}.'.format(1,len(dates),dates[0], dates[-1]))

House 1 data contain 23 days from 2011-04-18 to 2011-05-24.

### House 2 (dat to csv)

In [132]:
ddf = df[2].reset_index() # same as df.reset_index(level=0)
ddf.rename(columns = {'index':'Time'}, inplace = True)
ddf.to_csv('House2.csv', index = False) # this is for house 1 of the low frequency REDD dataset
ddf

,Time,mains_1,mains_2,kitchen_outlets_3,lighting_4,stove_5,microwave_6,washer_dryer_7,kitchen_outlets_8,refrigerator_9,dishwaser_10,disposal_11
0,2011-04-18 05:31:40,15.71,22.61,1.0,8.0,1.0,4.0,4.0,4.0,6.0,1.0,0.0
1,2011-04-18 05:31:44,15.71,22.61,0.0,8.0,1.0,5.0,5.0,4.0,6.0,0.0,0.0
2,2011-04-18 05:31:47,15.72,22.61,1.0,8.0,1.0,4.0,4.0,4.0,6.0,1.0,0.0
3,2011-04-18 05:31:50,15.70,22.57,0.0,8.0,1.0,4.0,4.0,3.0,7.0,0.0,0.0
4,2011-04-18 05:32:05,15.64,22.61,1.0,8.0,1.0,4.0,4.0,3.0,7.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
316835,2011-05-22 23:58:54,10.78,252.55,0.0,9.0,0.0,5.0,0.0,2.0,159.0,0.0,0.0
316836,2011-05-22 23:58:57,10.76,253.01,0.0,8.0,0.0,4.0,0.0,2.0,158.0,0.0,0.0
316837,2011-05-22 23:59:01,10.84,252.61,0.0,9.0,0.0,5.0,0.0,2.0,158.0,0.0,0.0
316838,2011-05-22 23:59:04,10.88,253.02,0.0,9.0,0.0,4.0,0.0,2.0,160.0,0.0,0.0
316839,2011-05-22 23:59:08,10.84,252.77,0.0,9.0,0.0,4.0,0.0,2.0,157.0,0.0,0.0

In [133]:
dates = {}
dates = [str(time)[:10] for time in ddf.Time.values]
dates = sorted(list(set(dates)))
print('House {0} data contain {1} days from {2} to {3}.'.format(2,len(dates),dates[0], dates[-1]))

House 2 data contain 16 days from 2011-04-18 to 2011-05-22.

### House 3 (dat to csv)

In [134]:
ddf = df[3].reset_index() # same as df.reset_index(level=0)
ddf.rename(columns = {'index':'Time'}, inplace = True)
ddf.to_csv('House3.csv', index = False) # this is for house 1 of the low frequency REDD dataset
ddf

,Time,mains_1,mains_2,outlets_unknown_3,outlets_unknown_4,lighting_5,electronics_6,refrigerator_7,disposal_8,dishwaser_9,...,washer_dryer_13,washer_dryer_14,lighting_15,microwave_16,lighting_17,smoke_alarms_18,lighting_19,bathroom_gfi_20,kitchen_outlets_21,kitchen_outlets_22
0,2011-04-16 05:11:30,181.34,577.30,2.0,0.0,1.0,126.0,119.0,0.0,0.0,...,0.0,0.0,1.0,2.0,195.0,2.0,23.0,0.0,0.0,0.0
1,2011-04-16 05:11:33,180.74,577.39,1.0,0.0,1.0,125.0,118.0,0.0,1.0,...,0.0,0.0,1.0,2.0,195.0,2.0,23.0,0.0,0.0,0.0
2,2011-04-16 05:11:36,182.00,577.88,1.0,0.0,1.0,124.0,119.0,0.0,0.0,...,0.0,0.0,1.0,2.0,195.0,2.0,24.0,0.0,0.0,0.0
3,2011-04-16 05:11:40,181.44,578.44,2.0,0.0,1.0,127.0,119.0,0.0,1.0,...,0.0,0.0,1.0,2.0,195.0,1.0,23.0,0.0,0.0,0.0
4,2011-04-16 05:11:43,179.95,575.92,1.0,0.0,1.0,127.0,117.0,0.0,0.0,...,0.0,0.0,1.0,2.0,195.0,2.0,23.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376145,2011-05-31 00:19:23,15.47,2.23,0.0,1.0,1.0,1130.0,8.0,7.0,3.0,...,0.0,0.0,1.0,1.0,10.0,0.0,0.0,0.0,0.0,2.5
376146,2011-05-31 00:19:26,15.48,2.23,0.0,1.0,1.0,1136.0,8.0,6.0,3.0,...,0.0,0.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,2.5
376147,2011-05-31 00:19:30,15.45,2.23,0.0,1.0,1.0,1139.0,8.0,6.0,3.0,...,0.0,0.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,2.5
376148,2011-05-31 00:19:33,15.42,2.23,0.0,1.0,1.0,1138.0,8.0,6.0,3.0,...,0.0,0.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,2.5
376149,2011-05-31 00:19:36,15.44,2.23,0.0,1.0,1.0,1134.0,7.0,6.0,3.0,...,0.0,0.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,2.5

In [135]:
dates = {}
dates = [str(time)[:10] for time in ddf.Time.values]
dates = sorted(list(set(dates)))
print('House {0} data contain {1} days from {2} to {3}.'.format(3,len(dates),dates[0], dates[-1]))

House 3 data contain 26 days from 2011-04-16 to 2011-05-31.

### House 4 (dat to csv)

In [136]:
ddf = df[4].reset_index() # same as df.reset_index(level=0)
ddf.rename(columns = {'index':'Time'}, inplace = True)
ddf.to_csv('House4.csv', index = False) # this is for house 1 of the low frequency REDD dataset
ddf

,Time,mains_1,mains_2,lighting_3,furance_4,kitchen_outlets_5,outlets_unknown_6,washer_dryer_7,stove_8,air_conditioning_9,...,miscellaeneous_11,smoke_alarms_12,lighting_13,kitchen_outlets_14,dishwaser_15,bathroom_gfi_16,bathroom_gfi_17,lighting_18,lighting_19,air_conditioning_20
0,2011-04-17 01:16:32,462.31,86.58,243.0,4.0,1.0,0.0,0.0,5.0,0.0,...,2.0,0.0,51.0,139.0,0.0,0.0,0.0,15.0,0.0,0.0
1,2011-04-17 01:16:35,462.41,86.56,244.0,4.0,0.0,0.0,0.0,5.0,0.0,...,1.0,0.0,51.0,138.0,0.0,0.0,0.0,15.0,0.0,0.0
2,2011-04-17 01:16:38,462.89,86.62,243.0,5.0,1.0,0.0,1.0,5.0,0.0,...,2.0,0.0,51.0,140.0,0.0,0.0,0.0,15.0,0.0,0.0
3,2011-04-17 01:16:42,462.78,86.50,241.0,4.0,1.0,0.0,0.0,5.0,0.0,...,2.0,0.0,51.0,139.0,0.0,0.0,0.0,14.0,0.0,0.0
4,2011-04-17 01:16:45,463.41,86.61,241.0,4.0,1.0,0.0,0.0,5.0,0.0,...,2.0,1.0,51.0,137.0,0.0,0.0,0.0,15.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428071,2011-06-04 00:45:25,400.95,94.80,178.0,27.0,34.0,4.0,1.0,5.0,0.0,...,2.0,0.0,25.0,135.0,0.0,0.0,1.0,0.0,0.0,0.0
428072,2011-06-04 00:45:28,399.17,94.83,177.0,27.0,36.0,4.0,0.0,5.0,0.0,...,2.0,0.0,26.0,135.0,0.0,0.0,0.0,0.0,0.0,0.0
428073,2011-06-04 00:45:31,403.36,94.65,173.0,27.0,38.0,3.0,1.0,5.0,0.0,...,1.0,0.0,25.0,135.0,0.0,0.0,1.0,0.0,0.0,0.0
428074,2011-06-04 00:45:35,401.11,94.63,174.0,27.0,34.0,4.0,1.0,5.0,0.0,...,1.0,0.0,25.0,135.0,0.0,0.0,1.0,0.0,0.0,0.0
428075,2011-06-04 00:45:38,400.24,94.43,175.0,27.0,38.0,4.0,1.0,5.0,0.0,...,2.0,0.0,25.0,135.0,0.0,0.0,1.0,0.0,0.0,0.0

In [137]:
dates = {}
dates = [str(time)[:10] for time in ddf.Time.values]
dates = sorted(list(set(dates)))
print('House {0} data contain {1} days from {2} to {3}.'.format(4,len(dates),dates[0], dates[-1]))

House 4 data contain 26 days from 2011-04-17 to 2011-06-04.

### House 5 (dat to csv)

In [138]:
ddf = df[5].reset_index() # same as df.reset_index(level=0)
ddf.rename(columns = {'index':'Time'}, inplace = True)
ddf.to_csv('House5.csv', index = False) # this is for house 1 of the low frequency REDD dataset
ddf

,Time,mains_1,mains_2,microwave_3,lighting_4,outlets_unknown_5,furance_6,outlets_unknown_7,washer_dryer_8,washer_dryer_9,...,lighting_17,refrigerator_18,lighting_19,dishwaser_20,disposal_21,electronics_22,lighting_23,kitchen_outlets_24,kitchen_outlets_25,outdoor_outlets_26
0,2011-04-18 04:24:07,115.74,196.83,4.0,0.0,4.0,6.0,1.0,0.0,0.0,...,0.0,158.0,1.0,1.0,0.0,7.5,67.5,0.0,0.0,0.0
1,2011-04-18 04:24:11,115.78,197.87,4.0,0.0,4.0,6.0,1.0,0.0,0.0,...,0.0,160.0,1.0,1.0,0.0,7.5,67.5,0.0,0.0,0.0
2,2011-04-18 04:24:14,115.57,197.09,3.0,0.0,4.0,6.0,1.0,0.0,0.0,...,0.0,161.0,1.0,1.0,0.0,10.0,67.5,0.0,0.0,0.0
3,2011-04-18 04:24:18,115.37,196.08,4.0,0.0,4.0,6.0,0.0,0.0,0.0,...,0.0,160.0,1.0,2.0,0.0,7.5,67.5,0.0,0.0,0.0
4,2011-04-18 04:24:21,115.79,196.70,4.0,0.0,4.0,6.0,0.0,0.0,0.0,...,0.0,157.0,1.0,1.0,0.0,7.5,67.5,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77446,2011-06-01 00:19:59,152.24,37.32,3.0,0.0,3.0,7.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,7.5,97.5,0.0,0.0,0.0
77447,2011-06-01 00:20:03,151.72,37.41,3.0,0.0,3.0,7.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,5.0,105.0,0.0,0.0,0.0
77448,2011-06-01 00:20:07,151.68,37.39,3.0,0.0,3.0,7.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,5.0,115.0,0.0,0.0,0.0
77449,2011-06-01 00:20:10,150.42,37.21,3.0,0.0,3.0,7.0,0.0,0.0,0.0,...,0.0,1.0,2.0,0.0,0.0,5.0,100.0,0.0,0.0,0.0
77450,2011-06-01 00:20:14,149.29,37.10,3.0,0.0,3.0,7.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,5.0,97.5,0.0,0.0,0.0

In [139]:
dates = {}
dates = [str(time)[:10] for time in ddf.Time.values]
dates = sorted(list(set(dates)))
print('House {0} data contain {1} days from {2} to {3}.'.format(5,len(dates),dates[0], dates[-1]))

House 5 data contain 9 days from 2011-04-18 to 2011-06-01.

### House 6 (dat to csv)

In [140]:
ddf = df[6].reset_index() # same as df.reset_index(level=0)
ddf.rename(columns = {'index':'Time'}, inplace = True)
ddf.to_csv('House6.csv', index = False) # this is for house 1 of the low frequency REDD dataset
ddf### House 1 (dat to csv)f

,Time,mains_1,mains_2,kitchen_outlets_3,washer_dryer_4,stove_5,electronics_6,bathroom_gfi_7,refrigerator_8,dishwaser_9,outlets_unknown_10,outlets_unknown_11,electric_heat_12,kitchen_outlets_13,lighting_14,air_conditioning_15,air_conditioning_16,air_conditioning_17
0,2011-05-21 19:39:51,46.78,255.62,5.0,2.0,3.0,0.0,3.0,1.0,0.0,0.0,26.0,88.0,0.0,124.0,4.0,0.0,0.0
1,2011-05-21 19:39:57,46.92,257.48,5.0,3.0,2.0,0.0,3.0,0.0,0.0,0.0,27.0,94.0,1.0,116.0,4.0,0.0,0.0
2,2011-05-21 19:40:00,46.82,255.07,5.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,27.0,95.0,0.0,116.0,4.0,0.0,0.0
3,2011-05-21 19:40:04,46.78,255.78,5.0,2.0,3.0,0.0,3.0,0.0,0.0,0.0,27.0,94.0,1.0,116.0,4.0,0.0,0.0
4,2011-05-21 19:40:07,46.82,256.38,5.0,3.0,2.0,0.0,3.0,0.0,0.0,0.0,27.0,94.0,1.0,115.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192187,2011-06-14 01:12:20,19.78,399.61,4.0,3.0,1.0,0.0,3.0,144.0,0.0,87.0,0.0,8.0,0.0,113.0,4.0,0.0,0.0
192188,2011-06-14 01:12:23,19.73,399.66,4.0,3.0,1.0,0.0,3.0,138.0,0.0,87.0,0.0,7.0,1.0,114.0,4.0,0.0,0.0
192189,2011-06-14 01:12:25,19.82,401.65,4.0,3.0,1.0,0.0,4.0,140.0,0.0,87.0,0.0,7.0,1.0,114.0,4.0,0.0,0.0
192190,2011-06-14 01:12:33,19.59,400.11,4.0,3.0,1.0,0.0,3.0,143.0,0.0,87.0,0.0,7.0,1.0,113.0,4.0,0.0,0.0
192191,2011-06-14 01:12:36,19.59,399.47,4.0,3.0,1.0,0.0,3.0,143.0,0.0,87.0,0.0,7.0,0.0,113.0,4.0,0.0,0.0

In [141]:
dates = {}
dates = [str(time)[:10] for time in ddf.Time.values]
dates = sorted(list(set(dates)))
print('House {0} data contain {1} days from {2} to {3}.'.format(6,len(dates),dates[0], dates[-1]))

House 6 data contain 17 days from 2011-05-21 to 2011-06-14.